@use "../styles/variables.scss";
@use "../styles/mixins.scss";
.dashboard {
	padding: 2rem;
	text-align: center;
	color: variables.$text-color;

	h2 {
		color: variables.$primary-color;
	}

	.add-workout {
		margin: 1rem auto;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		max-width: 300px;

		input,
		button {
			padding: 0.5rem;
			border-radius: 5px;
			border: none;
		}

		input {
			background: variables.$secondary-color;
			color: white;
		}

		button {
			@include mixins.button-style;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			background: variables.$secondary-color;
			margin: 0.5rem auto;
			padding: 1rem;
			border-radius: 8px;
			max-width: 400px;
		}
	}
}
