// 🎨 Couleurs principales
$primary-color: #0077ff;
$secondary-color: #222;
$background-color: #121212;
$text-color: #ffffff;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
